[submodule "Microservice.DataModel.Core"]
	path = Microservice.DataModel.Core
	url = https://github.com/egerpaulj/Microservice.DataModel.Core.git
[submodule "Microservice.Serialization"]
	path = Microservice.Serialization
	url = https://github.com/egerpaulj/Microservice.Serialization.git
[submodule "Microservice.TestHelper"]
	path = Microservice.TestHelper
	url = https://github.com/egerpaulj/Microservice.TestHelper.git
